<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.programacion3.progra3ejemplos">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".activities.FilesActivity"></activity>
        <activity android:name=".activities.SharedPrefsActivity" />
        <activity android:name=".activities.MapActivity" />
        <activity android:name=".activities.NotificationActivity" />
        <activity android:name=".activities.RecyclerMenuActivity">

            <!-- Intent filter que determina el activity por defecto de nuestra app -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.IntentImplicitoActivity">

            <!-- Intent filter que determina que este activity puede recibir información de tipo texto desde otras apps -->
            <intent-filter>
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="text/plain" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.WidgetsActivity" />
        <activity android:name=".activities.ListExampleActivity" />
        <activity android:name=".activities.ListActivity" />
        <activity android:name=".activities.ProgramaticViewsActivity" />
        <activity android:name=".activities.RecibirParametrosActivity" />
        <activity android:name=".activities.PasoParametrosActivity" />
        <activity android:name=".activities.LoginActivity" />
        <activity android:name=".activities.EjemploPatitoActivity" />
        <activity android:name=".activities.TableLayoutActivity" />
        <activity android:name=".activities.AbsoluteLayoutActivity" />
        <activity android:name=".activities.MarginPaddingActivity" />
        <activity android:name=".activities.RelativeLayoutActivity" />
        <activity android:name=".activities.LinearLayoutActivity" />
        <activity android:name=".activities.FrameLayoutActivity" />
        <activity android:name=".activities.GridLayoutActivity" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBKTYYA15FhuOAW7qLZHv4XSEMbJkFEGG8" />
    </application>

</manifest>